<div class="container">
  <div class="">
    <h2>Mes Clients</h2>
  </div>
  <div class="marketing ">
    <div class="row ">
      <div class="col mx-2" *ngFor="let c of customers |async">
        <div class="card ">
          <img src="{{c.photo}}" class=" rounded-circle"  width="128" height="128">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text"> <i class="bi bi-phone-fill me-1"></i>{{c.phone}}</p>
            <p class="card-text"><i class="bi bi-send-fill me-1"></i>{{c.email}}</p>
            <p class="card-text"><i class="bi bi-pin-map-fill me-1"></i>{{c.adresse}}</p>
            <button class="btn btn-info btn-sm float-right" (click)="updateMesure(c)">
              <i class="bi bi-gear" title="Update Mesure"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>

