<div class="container mt-5">
  <div class="row  mt-5 ">
    <div class="col-3 border  rounded">
      <div class=" text-center  pt-2">
        <img class=" rounded-circle" src="{{couturier.photo}}" alt="Generic placeholder image" width="140" height="140">
        <h2 >{{couturier.name}}</h2>
        <h2 ><i class="bi bi-star-fill mx-2 mystar" ></i>{{couturier.rate}}</h2>
      </div>
    </div>
    <div class="col-9 ">
      <div class="  border rounded p-2">
        <h3 > A propos de moi</h3>
        <p class="card-text">{{couturier.profile}}</p>
        <hr class="featurette-divider">
        <p class="card-text"><i class="bi bi-phone-fill me-1"></i>{{couturier.homePhone}}</p>
        <p class="card-text"><i class="bi bi-send-fill me-1"></i>{{couturier.email}}</p>
        <p class="card-text "><i class="bi bi-pin-map-fill me-1"></i>{{couturier.adresse}}</p>

      </div>

    </div>
  </div><!--  FIN ROW---->


  <!--  PROFIL------------------------------------------------------------------------------>


<!--  begin gallery--------------------------------------------------------------------------------->
  <div class="container mt-4">
    <h2>Mes fabuleuses creations </h2>
    <div class="container-gallery m-4">
      <div class="popup popup-1" *ngFor=" let img of couturier.gallery">
        <img class="img-responsive" width="250"alt="Pop Up Gallety"
             src="{{img}}" />
      </div>
    </div>
  </div>


<!--  end galleryeeeeeeeeeeeeeeeeeee----------------------------------------------------------------------->

<!--  begin reviews----------------------------------------------------------------------->

  <section >

    <div class="row d-flex justify-content-center m-4">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body ">
            <div >
              <div class="w-100">
                <h3 class="m-2">Les avis </h3>
                <div class="d-flex flex-start w-100 m-2" *ngFor="let r of reviews">
                  <div>
                    <img class="rounded-circle shadow-1-strong me-3"
                         [src]="'assets/profile/profilCust'+r.customerId+'.png'"
                         (error)= "r.customerId='0'" alt="avatar" width="65" height="65" />
                    <h5>{{r.name}}</h5>
                  </div>
                  <div class="w-100 card p-2">
                    <ngb-rating [max]="5" [(rate)]="r.rate" ></ngb-rating>
                    <p >{{r.comment}}</p>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <!-- END THE FEATURETTES -->
    <!-- START THE FORM COMMENT -->
    <div class="container my-5 py-5 text-dark">
      <div *ngIf="sec.kc.hasRealmRole('CUSTOMER')" class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                <div>
                  <img class="rounded-circle shadow-1-strong me-3"
                       src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                       height="65" />
                  <h3 *ngIf="sec.kc.authenticated">{{tokenjson.name}}</h3>
                </div>
                <div class="w-100">
                  <form [formGroup]="newReviewFormGroup" (ngSubmit)="addReview()">
                    <h5>Add a comment</h5>
                    <ngb-rating [max]="5" [(rate)]="starRating" ></ngb-rating>
                    <div class="form-outline">
                      <textarea class="form-control" formControlName="comment" rows="4"></textarea>
                      <span class="text-danger"
                            *ngIf="newReviewFormGroup.controls['comment'].touched
                            && newReviewFormGroup.controls['comment'].errors
                            && newReviewFormGroup.controls['comment'].errors!['comment']">
                             le commentaire ne doit pas etre vide
                      </span>
                    </div>
                    <div >
                      <button  class="btn btn-info mt-3" >envoyer</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </section>

<!--  begin reviews----------------------------------------------------------------------->


</div>
