<div class="container">
  <div class="card-header">Mes Rendez-Vous</div>
  <div class="card-body">


  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" *ngFor="let d of days">{{d | date: 'dd-MM-yyyy'}}</th>
    </tr>
    </thead>
    <tbody (click)="valideRdv($event)" >
    <tr *ngFor="let time of mesrdvs">
      <td *ngFor="let d of time" >
        <button class="btn btn-block" [ngClass]="{'btn-danger ': d.s=='PRIS'|| d.s=='TRAITE',
         'btn-light text-success': d.s=='0','btn-dark ': d.s=='CONGE'}"
               [disabled]="booked != d.s" name="{{d.j}}">{{d.h}}</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

</div>
