<div class="container">
  <div class="card-header">
   <h2>Suivi des commandes</h2>
  </div>
  <div class="card-body">
      <div class="container row m-4">
        <h3>Mes Commandes Encours</h3>
        <div class="table " >
          <thead class="table-info">
          <tr>
            <th>ID</th><th>Date</th><th>Tenue</th><th>Categorie</th><th>Type Couture</th>
            <th>Amount</th><th>Status</th>
            <th *ngIf="sec.kc.hasRealmRole('COUTURIER')">Customer</th>
            <th *ngIf="sec.kc.hasRealmRole('CUSTOMER')">Couturier</th>
            <th *ngIf="sec.kc.hasRealmRole('COUTURIER')">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of orders">
            <td>{{o.id}}</td>
            <td>{{o.orderdate | date: 'dd-MM-yyyy'}}</td>
            <td>{{o.tenue}}</td>
            <td>{{o.categorie}}</td>
            <td>{{o.typecouture}}</td>
            <td>{{o.amount}}</td>
            <td>{{o.status}}</td>
            <td *ngIf="sec.kc.hasRealmRole('COUTURIER')">{{o.customer.name}}</td>
            <td *ngIf="sec.kc.hasRealmRole('CUSTOMER')">{{o.couturier.name}}</td>
            <td *ngIf="sec.kc.hasRealmRole('COUTURIER')" class="d-flex justify-content-center">
              <button class="btn btn-info btn-sm float-right"
                      (click)="updateOrder(o,null)">
                <i class="bi bi-pen" title="{{checkstatus(o.status)}}"></i></button>
              <button *ngIf="o.status=='CREE'" class="btn btn-info btn-sm float-right m-1"
                      (click)="updateOrder(o,5)"><i class="bi bi-x" title="ANNULER"></i></button>
            </td>
          </tr>
          </tbody>
        </div>
        <div class="container">
          <mat-paginator class="float-start" [pageSizeOptions]="[2, 4, 8, 16]"
                         [pageSize]="2" [length]="totalEleNew"
                         (page)="nextPage($event,1)"> </mat-paginator>
        </div>
      </div>

      <div class="container row m-4">
        <h3>Historique des Commandes</h3>
        <div class="table " >
          <thead class="table-info">
          <tr>
            <th>ID</th><th>Date</th><th>Tenue</th><th>Categorie</th><th>Type Couture</th>
            <th>Amount</th><th>Status</th>
            <th *ngIf="sec.kc.hasRealmRole('COUTURIER')">Customer</th>
            <th *ngIf="sec.kc.hasRealmRole('CUSTOMER')">Couturier</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of Oldorders ">
            <td>{{o.id}}</td>
            <td>{{o.orderdate | date: 'dd-MM-yyyy'}}</td>
            <td>{{o.tenue}}</td>
            <td>{{o.categorie}}</td>
            <td>{{o.typecouture}}</td>
            <td>{{o.amount}}</td>
            <td>{{o.status}}</td>
            <td *ngIf="sec.kc.hasRealmRole('COUTURIER')">{{o.customer.name}}</td>
            <td *ngIf="sec.kc.hasRealmRole('CUSTOMER')">{{o.couturier.name}}</td>
          </tr>
          </tbody>
        </div>
        <div class="container">
          <mat-paginator class="float-start" [pageSizeOptions]="[2, 4, 8, 16]"
                            [pageSize]="2" [length]="totalEleOld"
                            (page)="nextPage($event,0)"> </mat-paginator>
        </div>
      </div>
  </div>
</div>
