<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link active" routerLink="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/couturiers">Maison de Couture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" >Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mesrdvs"  >Mes Rdvs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"  >Mes Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/newcustomer">New Customer</a>
      </li>
    </ul>
    <ul class="navbar-nav " >
      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"  data-bs-toggle="dropdown" aria-expanded="false">

        </a>
        <div class="dropdown-menu " >
          <a class="dropdown-item  btn-link clickable" >Logout</a>
          <a class="dropdown-item clickable" >Change Password</a>

          <a class="dropdown-item clickable" routerLink="/editcustomer" >Settings</a>
        </div>
      </li>
      <li class="nav-item">
        <a  class=" btn text-white" >LogIn</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>



