<div class="container">
  <div class="card-header">Couturiers</div>
  <div class="card-body">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let c of couturiers |async">
        <div class="card h-100">
          <img src="{{c.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">Id : {{c.id}}</p>
            <p class="card-text">{{c.profile}}</p>
          </div>
          <div class="card-body">
            <button class="btn btn-primary" (click)="getDetails(c)">Details</button>
            <button class="btn btn-danger btn-sm float-right">Book</button>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>
