<div class="container">
  <div class="card-header">Couturiers</div>
  <div class="card-body">
   <!-- <div class="table" >

      <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of couturiers |async">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
      </tr>
      </tbody>
    </div>-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let c of couturiers |async">
        <div class="card h-100">
          <img src="{{c.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">{{c.profile}}</p>

          </div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Card link</a>
            <a href="#" class="btn btn-danger btn-sm float-right">Another link</a>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>
