<div class="container">
  <div class="card-header">Couturiers</div>
  <div class="card-body">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let c of couturiers |async">
        <div class="card h-100">
          <img src="{{c.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">{{c.profile}}</p>
          </div>
          <div class="card-body">
            <button class="btn btn-info" (click)="getDetails(c)">Details</button>
            <button *ngIf="this.sec.kc.hasRealmRole('CUSTOMER')"
                    class="btn btn-info btn-sm float-right"
                    (click)="schedule(c)">Book</button>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>
