<div class="container">
  <div class="card-header">Mes Rendez-Vous /</div>
  <button class="btn btn-success btn-sm float-right"
          *ngIf="sec.kc.hasRealmRole('COUTURIER')"
          (click)="declarerConge()">Déclarer Mes Congés</button>

  <div class="card-body" *ngIf="this.sec.kc.hasRealmRole('CUSTOMER')">
    <div class="table " >
      <thead class="table-dark">
      <tr>
        <th>ID</th><th>Date</th><th>Heure</th><th>Status</th><th >Couturier</th> <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of todays |async">
        <td>{{m.id}}</td>
        <td>{{m.rdvDate| date: 'dd-MM-yyyy'}}</td>
        <td>{{m.heure}}</td>
        <td>{{m.status}}</td>
        <td>{{m.couturierId}}</td>
        <td>
          <button [disabled]="toCancel == (m.rdvDate| date: 'dd-MM-yyyy') || m.status=='ANNULE'"
                  class="btn btn-warning btn-sm float-right" (click)="cancelRdv(m)">Cancel</button>
        </td>

      </tr>
      </tbody>
    </div>
    <div class="table " >
      <thead class="table-dark">
      <tr>
        <th>ID</th><th>Date</th><th>Heure</th><th>Status</th><th >Couturier</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of olds |async">
        <td>{{m.id}}</td>
        <td>{{m.rdvDate| date: 'dd-MM-yyyy'}}</td>
        <td>{{m.heure}}</td>
        <td>{{m.status}}</td>
        <td>{{m.couturierId}}</td>
      </tr>
      </tbody>
    </div>
  </div>


  <div class="card-body" *ngIf="sec.kc.hasRealmRole('COUTURIER')">
    <div class="table " >
      <thead class="table-dark">
      <tr>
        <th>ID</th><th>Date</th><th>Heure</th><th>Status</th>
        <th>Customer</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of todays |async" >
          <td>{{m.id}}</td>
          <td>{{m.rdvDate| date: 'dd-MM-yyyy'}}</td>
          <td>{{m.heure}}</td>
          <td>{{m.status}}</td>
          <td>{{m.customerId}}</td>
          <td >
            <button *ngIf="m.status=='PRIS'" class="btn btn-success btn-sm float-right"
                    (click)="newOrder(m)">New Order</button>
            <button *ngIf="m.status=='CONGE'"
                    class="btn btn-danger btn-sm float-right"  (click)="cancelConge(m)">Cancel</button>
          </td>
      </tr>
      </tbody>
    </div>

    <div class="table" >
      <thead class="table-dark">
      <tr>
        <th>ID</th><th>Date</th><th>Heure</th><th>Status</th> <th>Customer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of olds |async">
        <td>{{m.id}}</td>
        <td>{{m.rdvDate| date: 'dd-MM-yyyy'}}</td>
        <td>{{m.heure}}</td>
        <td>{{m.status}}</td>
        <td>{{m.customerId}}</td>
      </tr>
      </tbody>
    </div>
  </div>
</div>

