<main role="main">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imgs/img1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>tradition</h5>
          <p>Respect de la tradition marocaine et l'entretenir .</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/img2.PNG" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tendance</h5>
          <p>Des couturiers alignés aux nouvelles tendance.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/img3.PNG" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lux</h5>
          <p>Des Couture et tenue de lux et haute gamme.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class=" marketing">
    <!-- WHAT WE DO IN MAISON COUTURE6666666666666666666666666666666666666666666666666666666666666666666 -->
    <h2 class="text-center">Comment fonctionne MaisonCouture ?</h2>
    <p class="text-center mb-4">Simplifiez vos démarches en trouvant un(e) couturier(e) à proximité. Faites votre demande en ligne et évitez les déplacements inutiles</p>
    <div class="row pt-4">
      <div class="col-lg-4 ">
        <div class="border rounded-sm m-2 pt-2">
          <img class="" src="assets/imgs/sewing.png" alt="Generic placeholder image" width="64" height="64">
          <h2>Trouvez le bon couturier</h2>
          <p>En saisissant votre adresse, MaisonCouture vous propose les couturiers(ères) disponibles autour de vous, avec la possibilité de consulter leur profil, les avis laissés par d'autres clients et quelques autres informations.</p>
        </div>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
        <div class="border rounded-sm m-2 pt-2">
          <img class="" src="assets/imgs/rdv.png" alt="Generic placeholder image" width="64" height="64">
          <h2>Prennez un Rendez-Vous</h2>
          <p>Vous avez la possibilité de prendre un rdv avec un ou plusieurs coutirier dans deux semaines prochaine, ensuite vous avez l'option de modifier ou annuler votre rendez vous.a tout moment vous pouvez consulter vous rendez vous ou les valider </p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
        <div class="border rounded-sm m-2 px-2 pt-2">
          <img class="" src="assets/imgs/computer.png" alt="Generic placeholder image" width="64" height="64">
          <h2>suivez Votre commande</h2>
          <p class="text-break">MaisonCouture vous offre la possiblite de suivre votre commande des la creation jusqu'a la validation et realisation de votre tenue.
            apres chaque changement d'etat de votre commande vous recerez un email</p>
        </div>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <div  >
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <!-- COUTURIER PART 66666666666666666666666666666666666666666666666666666666666666666666666666666666 -->
      <h2 class="text-center">Vous êtes un(e) couturier(e) ?</h2>
      <p class="text-center">Soyez visible pour les personnes à la recherche de couturiers et augmentez vos revenus</p>
      <!-- Three columns of text below the carousel -->
      <div class="row pt-4">
        <div class="col-lg-4">
          <img class="" src="assets/imgs/website.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Créez votre propre vitrine</h2>
          <p>Vous avez la possibilité d’exposer vos réalisations, vos compétences ainsi que votre localisation. Partagez également votre profil sur les réseaux sociaux grâce à un lien dédié.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img  src="assets/imgs/deal.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Gagnez en visibilité</h2>
          <p>Votre présence sur MaisonCouture vous permet de gagner en visibilité, soyez facilement repéré par de nouveaux utilisateurs via notre moteur de recherche.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 ">
          <img  src="assets/imgs/message.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Recevez des nouveaux consommateurs</h2>
          <p>permet à ses utilisateurs de créer facilement des demandes, d’échanger avec les couturiers(ères) tout en évitant les déplacements inutiles. Soyez prêt à recevoir beaucoup de demandes d’utilisateurs à proximité de chez vous.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img  src="assets/imgs/profit.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Augmentez vos revenus</h2>
          <p>Vous êtes un particulier ou un professionnel qui aime et maîtrise la couture ? MaisonCouture vous offre la possibilité d'augmenter vos revenus de fin de mois en traitant quelques demandes.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img  src="assets/imgs/calendar.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Gérez votre agenda</h2>
          <p>Que vous soyez couturier(e) à temps plein ou que cela soit un passe-temps, remplissez votre calendrier en un clic pour recevoir des demandes uniquement lors de vos disponibilités.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img  src="assets/imgs/creercmd.png" alt="Generic placeholder image" width="140" height="140">
          <h2 class="pt-4">Gérez vos commandes</h2>
          <p>MaisonCouture permet à ses utilisateurs de gérer les commandes  facilement , tout est automatiser  , il n y a plus de probleme de perte de donner ou des le comis des erreurs.</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>


    <!------ Include the above in your HEAD tag ---------->
    <!--Section: Contact v.2-->
    <section class=" contact">
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="container pb-4">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
          a matter of hours to help you.</p>
        <div class="row">
          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
            <form [formGroup]="sendMailFormGroup" (ngSubmit)="sendMail()">
            <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label class="form-label">Your name</label>
                    <input type="text" formControlName="name" class="form-control">
                    <span class="text-danger"
                          *ngIf="sendMailFormGroup.controls['name'].touched
                        && sendMailFormGroup.controls['name'].errors
                        && sendMailFormGroup.controls['name'].errors!['required']">
                    Name is Required
                  </span>
                  </div>
                </div><!--end Grid column-->
                <div class="col-md-6"><!--beginGrid column-->
                  <div class="md-form mb-0">
                    <label class="form-label">Email:</label>
                    <input type="text" formControlName="email" class="form-control">
                    <span class="text-danger"
                          *ngIf="sendMailFormGroup.controls['email'].touched
                        && sendMailFormGroup.controls['email'].errors
                        && sendMailFormGroup.controls['email'].errors!['email']">
                    Email is not valid
                  </span>
                  </div>
                </div><!--Grid column-->
              </div> <!-- end Grid row-->
              <div class="row"> <!--begin Grid row-->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <label class="form-label">Subject:</label>
                    <input type="text" formControlName="subject" class="form-control">
                    <span class="text-danger"
                          *ngIf="sendMailFormGroup.controls['subject'].touched
                        && sendMailFormGroup.controls['subject'].errors
                        && sendMailFormGroup.controls['subject'].errors!['subject']">
                    subject is required
                  </span>
                  </div>
                </div>
              </div><!--end Grid row-->
              <div class="row"><!--begin Grid row-->
                <!--Grid column-->
                <div class="col-md-12">
                  <div class="md-form">
                    <label class="form-label">Your message</label>
                    <textarea type="text"  name="message" rows="2" class="form-control md-textarea"></textarea>
                    <span class="text-danger"
                          *ngIf="sendMailFormGroup.controls['message'].touched
                        && sendMailFormGroup.controls['message'].errors
                        && sendMailFormGroup.controls['message'].errors!['message']">
                    subject is required
                  </span>
                  </div>
                </div>
              </div>
              <!--Grid row-->
              <div class="text-center text-md-left">
                <button  class="btn btn-info mt-3" >Send</button>
              </div>
            </form>
          </div>
          <!--Grid column-->

        </div>
      </div>


    </section>
    <!--Section: Contact v.2-->

  </div><!-- /.container -->

</main>



